.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 30px;
}
.wrapper_checkbox {
    min-width: 522px;
    width: 45%;
    margin-right: 50px;
    display: flex;
}
.form_control_input {
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ADADAD;
    width: 45%;
    padding: 11px 13px;
    margin-right: 50px;
    min-width: 522px;
}

.accept {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #333333;
}

.form_control_input:focus {
    border: 1px solid #00A4F7;
}

.is_invalid {
    border-color: #EA4F24;
    color: #EA4F24;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.checkbox_wrapper {
    display: flex;
    width: 40%;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_box {
    display: block;
}

.checkbox_box::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-size: 50% 50%;
    background: #FFFFFF no-repeat center center;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 5px;
}

.checkbox:checked + .checkbox_box::before {
    border-color: #00A4F7;
    background-color: #00A4F7;
    background-size: 80%;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.39656 12.8966C5.09222 12.8966 4.78756 12.7805 4.55539 12.5481L0.348519 8.34126C-0.116173 7.87657 -0.116173 7.12328 0.348519 6.65859C0.81321 6.1939 1.5665 6.1939 2.03119 6.65859L5.39656 10.024L12.9688 2.45186C13.4335 1.98731 14.187 1.98717 14.6513 2.45186C15.1162 2.91655 15.1162 3.67001 14.6513 4.13453L6.23792 12.5481C6.00557 12.7803 5.70105 12.8966 5.39656 12.8966Z' fill='white'/%3E%3C/svg%3E%0A");
}

/*.checkbox:hover + label::before {*/
/*    border-color: #ADADAD;*/
/*    background-color: #FFFFFF;*/
/*    background-size: 80%;*/
/*    background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.39656 10.8966C5.09222 10.8966 4.78756 10.7805 4.55539 10.5481L0.348519 6.34126C-0.116173 5.87657 -0.116173 5.12328 0.348519 4.65859C0.81321 4.1939 1.5665 4.1939 2.03119 4.65859L5.39656 8.02396L12.9688 0.45186C13.4335 -0.0126915 14.187 -0.0128321 14.6513 0.45186C15.1162 0.916551 15.1162 1.67001 14.6513 2.13453L6.23792 10.5481C6.00557 10.7803 5.70105 10.8966 5.39656 10.8966Z' fill='%23ADADAD'/%3E%3C/svg%3E%0A");*/
/*}*/

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    color: #ADADAD;
}

.button_send {
    background: #00A4F7;
    border-radius: 8px;
    display: inline-block;
    border: none;
    padding: 13px 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.button_send:hover {
    background: #128ACE;
}

.button_send:disabled {
    background: #00A4F7;
}

.desktop_error {
    display: block;
    color: #EA4F24;
}

.mobile_error {
    display: none;
    color: #EA4F24;
}

@media (max-width: 992px) {
    .desktop_error {
        display: none;
    }

    .mobile_error {
        display: block;
    }
    .centered {
        text-align: center;
    }
    .form_control_input {
        margin-right: 0;
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }
    .button_send {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .wrapper_checkbox {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .text {
        margin-top: 30px;
        max-width: 100%;
    }
    .wrapper_checkbox {
        margin-right: 0;
    }
}